@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill-bg {
    background-image: url('../../../../public/1.png');
    background-size: cover;
    background-position: center;
}

.project-bg {
    background-image: url('../../../../public/3.png');
    background-size: cover;
    background-position: center;
}